<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row p-5">
            <div class="col-lg-5 col-sm-7 col-md-7 shadow mx-auto" style="border-radius: 40px; background-image: url('/assets/images/images().jfif');background-repeat: no-repeat; background-size: cover;background-color: rgba(0, 0, 0, 0.3); background-blend-mode: color-burn;"><br>
                <!-- <div class="row shadow" style="border-radius: 40px;"> -->
                 <div class="mx-auto p-5">
                    <!-- template drive -->
                    <form (ngSubmit)="signIn()">
                        <h1 class="text-center text-primary">SIGN IN</h1>
                        <input type="text" class="form-control mb-4" placeholder="Email" [(ngModel)]="email" name="email">

                        <input appBudget type="password" class="form-control mb-4" placeholder="Password" [(ngModel)]="password" name="password" required  
                        [class.is-valid]="fpassword.valid && fpassword.touched" [class.is-invalid]="fpassword.invalid && fpassword.touched" #fpassword="ngModel" >

                        <div *ngIf="fpassword.invalid && fpassword.dirty">
                            <span class="text-danger" *ngIf="fpassword.errors?.['required']">
                              Field cannot be empty
                            </span>
                            <span class="text-danger" *ngIf="fpassword.errors?.['noCountryCode']">
                                Please include at least one lowercase, uppercase, number and character and must up to eight.
                             </span>
                        </div>
                        <button class="btn btn-primary w-100 mb-3">SignIn</button>
                        <p class="text-light">You don't have an account <b style="cursor: pointer;" routerLink="/signup">  Signup  </b>here</p>
                    </form>
                 </div>
            </div>
        </div>
        </div>
    <!-- </div> -->
</body>
</html>