<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container"><br>
        <div class="row p-3">
            <div class="col-lg-5 col-sm-7 col-md-8 shadow mx-auto" style="border-radius: 40px; background-image: url('/assets/images/images().jfif');background-repeat: no-repeat; background-size: cover;background-color: rgba(0, 0, 0, 0.3); background-blend-mode: color-burn;"><br>
                <div class="p-3 mx-auto">
                    <h1 class="text-center text-light">Create Budget Category</h1><br>
                    <p *ngIf="message!= ''" class="text-light">{{message}}</p>
                <input type="text" placeholder="Add title" class="form-control mb-2" [(ngModel)]="title"><br>
                <input type="text" placeholder=" Add budget amount"  class="form-control mb-2" [(ngModel)]="amount"><br>
                <input type="date" placeholder="Add date"  class="form-control mb-2" [(ngModel)]="date"><br>
                <button class="btn btn-primary  w-100 mb-3" (click)="addcategory()" >Add</button>
                <button class="btn btn-primary w-100" routerLink="/details" style="font-size:larger;">View Category</button>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>