.inp::placeholder{
    color:limegreen ;
    font-size: 25px;
}
@keyframes body {
    0%{background-color:cadetblue;}
    25%{background-color:rgb(60, 6, 108);}
    50%{background-color:rgb(18, 15, 158);}
    75%{background-color:rgb(93, 5, 81);}
    100%{background-color:rgb(8, 105, 59);}
}
body{
    animation-name: body;
    animation-duration: 5s;
    animation-duration: alternate-reverse;
    animation-iteration-count: infinite;
}
#border{
    height: 50vh;
    margin-top: 10vh;
    background: linear-gradient(rgb(30, 98, 30),rgb(147, 23, 23), blue) ;
}