<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h3 class="text-light">EASY</h3>
                <!-- <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"> -->
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="row p-5">
            <div class="col-lg-5 col-md-9 col-sm-9 shadow mx-auto" style="border-radius: 40px; background-image: url('/assets/images/images().jfif');background-repeat: no-repeat; background-size: cover;background-color: rgba(0, 0, 0, 0.3); background-blend-mode: color-burn;"><br>
                <!-- <div class="row shadow" style="border-radius: 40px;"> -->
                 <div class="mx-auto p-5">
                    <!-- template drive -->
                    <h1 class="text-muted text-center">Beautiful, simple and easy to use </h1>
                    <h2 class="text-muted text-center mb-5">Set Your Budget </h2> <br><br>
                    <button class="btn btn-primary mx-auto w-100" routerLink="/signup">GET STARTED</button>
                 </div>
            </div>
        </div>
        </div>
    
</body>
</html>
<!-- <div class="row">
        <div class="col-6 mx-auto">
            
        </div>
    </div> -->