@keyframes body {
    0%{background-color:cadetblue;}
    25%{background-color:rgb(60, 6, 108);}
    50%{background-color:rgb(18, 15, 158);}
    75%{background-color:rgb(93, 5, 81);}
    100%{background-color:rgb(8, 105, 59);}
}
body{
    animation-name: body;
    animation-duration: 5s;
    animation-duration: alternate-reverse;
    animation-iteration-count: infinite;
}
#div{
    margin-top: 50px;
}
#div{
    margin-top: 10vh;
    background: linear-gradient(blue,red,green);
    color: white;
}